SUPABASE_URL=https://gljwvnxarbalpanoggvu.supabase.co
SUPABASE_SERVICE_KEY=sua_service_key_aqui
SHOPEE_AFFILIATE_ID=seu_affiliate_id
SHOPEE_APP_ID=seu_app_id
SHOPEE_SECRET_KEY=sua_secret_key
PORT=3000
